* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}
.main {
  height: 100vh;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.label,
.playing-container,
.print,
.counter,
.players-counter-container {
  padding: 1rem;
}
.select {
  height: 3rem;
}
.print {
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(253, 143, 0) ;
  color: hsl(0, 0%, 20%);
  font-size: 1.5rem;
}
.button {
  border: 0.1rem rgb(253, 143, 0) solid;
  border-radius: 0.5rem;
  padding: 0.7rem;
  background-color: white;
  color:black;
}
.button:hover {
  transition: background-color 0.2s;
  background-color: rgb(129, 77, 9);
  color: whbite;
  cursor: pointer;
}
.counters-container {
  margin: 2rem;
  border: 0.2rem rgb(253, 143, 0) solid;
  border-radius: 0.5rem;
}
.player {
  display: inline;
}

.hidden {
  display: none;
}
